#main-div {
    background-color: white;
    width: 800px;
    height: 155px;
    margin: auto;
}

#caption {
    text-align: center;
    height: 1%;
    width: 90%;
    margin: auto;
}
#wheel-div {
    display: flex;
    width: 800px;
    height: 155px;
    margin: auto;
    margin-top: 20px;
    justify-content: space-between;
}

.marker {
    height: 20%;
    width: 20%;
    margin-top: -4px;
}

.wheel {
    height: 100px;
    width: 100px;
}

.wheel-holder{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
    width: 30%;
    align-items: center;
}

#button:hover {
    opacity:0.8;
}

canvas {
    display: block;
}

#timer {
    width: 60px;
    height: 30px;
    display: flex;
    margin: auto;
}

.time {
    display: inline-block;
    font-size: 30px;
}

@media only screen and (max-width: 800px) 
 {
    #main-div {
        width: 600px;
        height: 155px;
        margin: auto;
    }    
    #wheel-div {
        width: 600px;
        height: 155px;
        margin: auto;
        margin-top: 20px;
    }    

    .wheel {
        height: 100px;
        width: 100px;
    }
    #caption {
        text-align: center;
        height: 1%;
        width: 80%;
        margin: auto;
    }
}
@media only screen and (max-width: 600px) {
    #main-div {
        width: 370px;
        height: 90px;
        margin: auto;
    }    
    #wheel-div {
        width: 370px;
        height: 90px;
        margin: auto;
        margin-top: 20px;
    }    
    .wheel {
        height: 60px;
        width: 60px;
    }
    #caption {
        text-align: center;
        height: 1%;
        width: 80%;
        margin: auto;
    }
}

@media only screen and (max-width: 400px) {
    #main-div {
        width: 280px;
        height: 80px;
        margin: auto;
    }    
    #wheel-div {
        width: 280px;
        height: 120px;
        margin: auto;
        margin-top: 20px;
    }    
    .wheel {
        height: 80px;
        width: 80px;
    }
    #caption {
        text-align: center;
        height: 1%;
        width: 90%;
        margin: auto;
    }
}